# .gitignore

# File Konfigurasi Rahasia (WAJIB diabaikan)
# utils/config_secrets.py
.env*
!.env.example

# Database Lokal (WAJIB diabaikan)
*.db
*.db-journal
*.sqlite3

# Virtual Environment (Dihasilkan Otomatis)
venv/
.venv/
env/

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# IDE & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini